<%- include('./header')%>
      <table class="table">
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
        <th>年齢</th>
        <th>電話番号</th>
        <th>更新日</th>
      </tr>
      <% for (var i in content){ %>
      <tr>
        <% var obj = content[i] %>
        <td class="name"><%= obj.name %></td>
        <td class="email"><%= obj. email%></td>
        <td class="age"><%= obj. age%></td>
        <td class="telephone"><%= obj.telephone %></td>
        <td class="created_at"><%= obj.created_at %></td>
        <td><a href="/users/edit/<%= obj.id %>">編集</a></td>
        <td><a href="/users/edit/<%= obj.id %>">削除</a></td>        
      </tr>

      <% } %>
    </table>
    <%- include('./footer')%>
  </body>
</html>
